template(name="header")
  header
    nav.navbar.navbar-default
      .container-fluid-padded
        .navbar-header
          a.navbar-brand.pull-left(href="/")
            h1.logo Good Question
        #navbar.navbar-collapse.collapse
          ul.nav.navbar-nav.navbar-right
            li
              a(href="/admin/signup") Admins
            li
              a#logout(href="/logout") Sign Out
