template(name="surveys")
  .page-header
    h2 Surveys
      a#add-survey.btn.btn-sm(data-toggle="modal" data-target="#create-survey-modal")
        i.mdi.mdi-plus-circle Add Survey
      each surveys
        +survey_single

  +create_survey_modal
