template(name="edit_questions")
  .panel.panel-default
    .panel-heading
      h4 Questions

    if hasQuestions
      ul.list-group
        +sortable(
          items=questions
          handle='.sortable-handle'
          ghostClass='sortable-ghost')
          li.list-group-item
            +question_edit
    else
      .panel-body
        p No questions specified
