template(name="edit_form")
  form
    .form-group
      .row
        .col-sm-8
          label
            span Name
            input.form-control(type='string' name='name' maxlength='128' value='#{form.name}')
    button.btn.btn-danger(type="button") Delete Form
    button.btn.btn-primary#save-form Save Form
