template(name="survey_admin_form_details")
  h4=form.name
  if Template.subscriptionsReady
    .row
      .col-md-4
        +form_add formId=formId
      .col-md-8
        +form_edit formId=formId
      //- +form_preview
