template(name="survey_admin_forms")
  h3 Forms
    a(href="{{pathFor 'survey_admin_forms_new' id=survey._id}}")#add-form.btn.btn-sm
      i.mdi.mdi-plus-circle
      | Add Form

  ul.list-group
    each forms
      li.list-group-item.form-link
        h5= name
