template(name="survey_admin_form_details")
  .survey-admin--content
    if fetched
      h4=form.attributes.title
      .form-details
        .row
          .col-md-4
            +add_question form=form
          .col-md-8
            //- +edit_questions form=form
