.survey-admin
  h3
    font-size 1.2em

.survey-admin--nav
  background white
  border-bottom 3px solid $primary
  h2
    font-size 1.5em
    margin 0
    padding-top .7em

.create-form
  margin-bottom 20px
