template(name="survey_admin_forms_new")
  form.create-form
    .form-group
      .row
        .col-sm-8
          label
            span Name
            input.form-control(type='string' name='name' maxlength='128')
    button.btn.btn-primary Create Form
