template(name="survey_admin_users")
  .survey-admin--content
    h3 Users
      a(href="{{pathFor 'survey_admin_users_edit' id=survey.id}}")#add-user.btn.btn-sm
        i.mdi.mdi-plus-circle
        | Add User

    if fetched
      if users
        ul.list-group.users
          each users
            li.list-group-item.form-link
              span= email
      else
        p This survey has no users
