.container-fluid
  margin 0 10%

.sortable-handle
  cursor move
  font-size 2em
  margin-right .1em

.delete
  position absolute
  right 15px
  top 50%
  transform translate(0, -50%)
  font-size 1.75em
  color #D9534F
  &:hover
    cursor pointer
    color darken(@color, 15%)

.list-group-item
  span
    vertical-align middle

.sortable-ghost
  background #f9f9f9

.page-header
  margin-top 0
  margin-bottom 0
  padding 0
  .navbar
    margin 0

.navbar-default
  margin 0

.logo
  width 150px
  background url(images/logo.svg) no-repeat
  text-indent -9999px
  margin 0
