.controls
  max-width 20px

#tableFilter
  width 300px
  float right

.survey
  h3
    font-size 1.2em

.survey--nav
  background white
  border-bottom 3px solid $primary
  h2
    font-size 1.5em
    margin 0
    padding-top .7em
