.controls
  width 80px

#tableFilter
  width 300px
  float right

.form-link
  .delete
  .edit
    padding 5px 10px
  .delete
    color white
  .edit
    color #666

.surveys
  .form-link
    a
      padding-left 15px

.modal-header
  .close
    position absolute
    top 15px
    right 15px

.create-survey-form
  input
  textarea
    min-width 100%
  textarea
    min-height 150px
