template(name="surveys")
  .container-fluid
    .page-header
      h2 Surveys
        a#add-survey.btn.btn-sm(data-toggle="modal" data-target="#create-survey-modal")
          i.mdi.mdi-plus-circle Add Survey

      if subscribed
        ul.list-group
          each surveys
            li.list-group-item.form-link
              a(href="{{pathFor 'survey_admin_details' id=id}}")= attributes.title

    +create_survey_modal
    +delete_survey_modal

template(name="survey_item_controls")
  a.btn.btn-danger(data-toggle="modal" data-target="#delete-survey-modal") Delete

template(name="no_surveys")
  p No surveys were found
